.sidebarLink{
    display: flex;
    color: #e1e9fc;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Monument-Regular';
    text-transform: uppercase;
    
    &:hover {
        cursor: pointer;
        color: var(--secondary-color);
        font-weight: 800;
        }
}

.dropdownLink{
    // background: #414757;
    height: 60px;
    padding-left: 3rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    
    &:hover {
        cursor: pointer;
        color: var(--secondary-color);
        font-weight: 800;
        }
}

