

.app {
    // background-color: var(--purple-color);
    font-family: var(--font-base);
    cursor: none;
}

.app__whitebg {
    background-color: var(--darkyBg-color);
}

.app__primarybg {
    background-color: var(--purple-color);
}

.app__container {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: row;
}

.app__flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__flex-landing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.app__wrapper {
    flex: 1;
    width: 80%;
    flex-direction: column;
    padding: 6rem 2rem;

    @media screen and (max-width: 450px) {
    padding: 5rem 1rem 2rem;
    padding-left: 0;
    }
}

.copyright {
    width: 100%;
    padding: 2rem 0 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    p {
    text-transform: uppercase;
    color: var(--gray-color);
    font-size: 0.7rem;
    }
}

.head-text {
    font-family: var(--font-header);
    text-transform: uppercase;
    font-size: 2.75rem;
    font-weight: 800;
    text-align: center;
    color: var(--primary-color);
    // text-transform: capitalize;

    span {
    color: var(--secondary-color);
    }

    @media screen and (min-width: 2000px) {
    font-size: 4rem;
    }

    @media screen and (max-width: 450px) {
    font-size: 2rem;
    }
}

.head-text-loading {
    font-family: var(--font-header);
    text-transform: capitalize;
    font-size: 2.75rem;
    font-weight: 800;
    text-align: center;
    color: var(--primary-color);
    // text-transform: capitalize;

    span {
    color: var(--secondary-color);
    }

    @media screen and (min-width: 2000px) {
    font-size: 4rem;
    }

    @media screen and (max-width: 450px) {
    font-size: 2rem;
    }
}



.head-text-landing {
    font-family: var(--font-header);
    text-transform: uppercase;
    font-size: 4.5rem;
    font-weight: 800;
    text-align: center;
    color: var(--primary-color);
    letter-spacing: 2.5px;
    // text-transform: capitalize;

    span {
    color: var(--secondary-color);
    }

    @media screen and (min-width: 2000px) {
    font-size: 4.75rem;
    }

    @media screen and (max-width: 550px) {
    font-size: 3.0rem;
    }
    @media screen and (max-width: 380px) {
        font-size: 2.5rem;
    }
}



.p-text {
    font-size: 0.8rem;
    text-align: left;
    color: var(--primary-color);
    line-height: 1.5;

    @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
    }
}

.p-text-landing {
    font-size: 0.7rem;
    font-family: 'Monument-Regular';
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-color);
    line-height: 1.5;



    @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
    }

    @media screen and (min-width: 550px) {
        font-size: 1.25rem;
        }

        @media screen and (min-width: 700px) {
            font-size: 1.5rem;
            }

    

}

.bold-text {
    font-size: 1rem;
    font-weight: 800;
    color: var(--primary-color);
    text-align: left;

    @media screen and (min-width: 2000px) {
    font-size: 2rem;
    }

    @media screen and (max-width: 450px) {
    font-size: 0.9rem;
    }
}

.app__social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    padding: 1rem;

    div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--dark-color);
    margin: 0.25rem 0;
    border: 1px solid rgba(255, 255, 255, 0.18);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease-in-out;

    svg {
        width: 15px;
        height: 15px;
        color: var(--white-color);
    }

    &:hover {
        background-color: var(--secondary-color);
        border-color: var(--secondary-color);

        svg {
        color: var(--white-color);
        }
    }

    @media screen and (min-width: 2000px) {
        width: 70px;
        height: 70px;

        margin: 0.5rem 0;

        svg {
        width: 30px;
        height: 30px;
        }
    }
    }
}

.app__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 1rem;

    .app__navigation-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #cbcbcb;
    margin: 0.5rem;

    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: var(--secondary-color);
    }

    @media screen and (min-width: 2000px) {
        width: 20px;
        height: 20px;
    }
    }
}

@media screen and (max-width: 600px) {
    .app__navigation {
    display: none;
    }

    .app__social {
    display: flex;
    padding: 0.5rem;

        div {
            width: 35px;
            height: 35px;
        }
    }

    .copyright {
    padding: 2rem;
    }
}

.stroke{

    padding-left: 3px;
    padding-right: 3px;
    font-weight: 800;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-fill-color: #0dac5400;
    @media screen and (max-width: 450px) {
        // font-size: 2rem;
        -webkit-text-stroke-width: 0.08rem;
        }
}

.glitch {
	text-decoration: none;
	text-transform: uppercase;
	position: sticky;
	// top: 50%;
	// left: 50%;
	// transform: translate(-50%, -50%);
	// margin: 1;
	color: #fff;
	letter-spacing: 5px;
    
	
	&:before, &:after {
		display: block;
		content: attr(data-glitch);
		text-transform: uppercase;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: .8;
	} &:after {
		color: #f0f;
		z-index: -2;
	} &:before {
		color: #0ff;
		z-index: -1;
	}
	&:hover {
		&:before {
			animation: glitch .3s cubic-bezier(.25, .46, .45, .94) both 5
		}
		&:after {
			animation: glitch .3s cubic-bezier(.25, .46, .45, .94) reverse both 5
		}
	}
}

@media only screen and (max-width: 550px) {
	.glitch {
		font-size: 2rem;
	}

    .head-text span {
        font-size: 2rem;
    }

}

@media only screen and (max-width: 380px) {
	.glitch {
		font-size: 1.8rem;
	}


}


@keyframes glitch {
	0% {
		transform: translate(0)
	}
	20% {
		transform: translate(-5px, 5px)
	}
	// 40% {
	// 	transform: translate(-5px, -5px)
	// }
	// 60% {
	// 	transform: translate(5px, 5px)
	// }
	80% {
		transform: translate(5px, -5px)
	}
	to {
		transform: translate(0)
	}
}


.glow{
    &:hover{
        color: #3f16e4;
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #3f16e4, 0 0 30px #3f16e4, 0 0 40px #3f16e4, 0 0 55px #3f16e4, 0 0 75px #3f16e4;
        // text-align: center;
    }
}

.glow-landing{
        color: antiquewhite;
        text-shadow: 0 0 5px gray, 0 0 10px #313bac, 0 0 20px #313bac, 0 0 30px #313bac, 0 0 40px #313bac, 0 0 55px #313bac, 0 0 75px #313bac;
        // text-align: center;
        // &:hover{
        //     color: #313bac;
        //     text-shadow: none;
        // }

}


.bouncing {
    -webkit-animation: rubberband 800ms alternate ease-out;;
    animation : rubberband 800ms alternate ease-out;
    }
    @keyframes rubberband {
        0%{
            transform: scaleX(1);
        }
        40%{
            transform: scaleX(1.12) scaleY(0.75);
        }
        55%{
            transform: scaleX(0.85) scaleY(1);
        }
        65%{
            transform: scaleX(1.09) scaleY(0.85);
        }
        75%{
            transform: scaleX(0.9)  scaleY(1);
        }
        90%{
            transform: scaleX(1.05) scaleY(0.95);
        }
        100%{
            transform: scaleX(1) scaleY(1);
        }
    }

    .mapboxgl-ctrl {
        display: none;
    }

    .mapboxgl-ctrl-attrib{
        display: none;
    }
    .mapboxgl-ctrl-logo{
        display: none;
    }


    .marker-btn {
        background: none;
        border: none;
        // cursor: pointer;

        // &:hover{
        //     filter: invert(1);
        // }
        }
        
        .marker-btn img {
        width: 55px;
        height: 55px;
        }

        .mapboxgl-popup-content {
            position: relative;
            background: #000000;
            border-radius: 3px;
            box-shadow: 0 1px 2px #000000;
            padding: 10px 10px 15px;
            pointer-events: auto;
            color: rgb(36, 230, 197)
        }
        
        .mapboxgl-popup-tip {
            display: none;
        }
